body{
    margin: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    /*background: wheat;*/
    background-image: url("photos/3.JPG");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    color: goldenrod;

}
nav{
    font-weight: bolder;
    font-size: 2.1rem;
    padding: 2.5rem;
    text-align: center;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.sec {
    padding: 2.5rem;
}
.sec2{

}
.sec1{
    /*background: antiquewhite;*/
}
.sec3{
    margin-top:0;
}
.footer-container{
    display: flex;
    justify-content: space-between;
}
footer{
    padding: 1.5em;
}
sp {
    margin:5px 3em;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
input{
    width: 30%;
    text-align: center;
    padding: 0.8em;
    color: black;
    background-color: transparent ;
    font-size: 1em;
}
form > button{
    padding: 10px 20px;
    border-radius: 10px;
    background: goldenrod;
    border: none;
    font-size: 1em;
}
a{
    display:grid;
    place-items: center;
    cursor: pointer;
}
input[type="checkbox"] {
    display: none;
}

/* Style the custom checkbox design */
input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    background-color: #fff;
    margin-right: 8px;
    vertical-align: middle;
}

/* Style the custom checkbox design when checked */
input[type="checkbox"]:checked + label::before {
    background-color: #000;

}

/* Style the label when the checkbox is checked */
input[type="checkbox"]:checked + label {
    width: 50%;
    text-align: center;
    font-weight: bold;
    color: #000;

}
label{
    margin-bottom: 5px;
    padding: 5px 0;
}
@media (max-width: 600px) {
    footer{
        padding: 5px;
    }
    .footer-container{
        width: 100%;
        margin: 0;
    }
}